* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #faf7f2;
  color: #333;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  z-index: 999;
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.logo span {
  color: #d4af37; /* Gold */
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  margin-top: 80px;
}

.hero-text h2 {
  font-size: 50px;
  line-height: 1.2;
}

.btn {
  margin-top: 20px;
  background: linear-gradient(45deg, #d4af37, #f5d78b);
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

.hero-img img {
  width: 450px;
  animation: float 4s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* COLLECTION */
.collection {
  padding: 80px 70px;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 40px;
}

.items {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.item {
  width: 250px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.item img {
  width: 150px;
}

.item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* ABOUT */
.about {
  padding: 80px 70px;
  text-align: center;
  font-size: 20px;
}

/* CONTACT */
.contact {
  padding: 80px 70px;
  text-align: center;
}

form {
  max-width: 450px;
  margin: auto;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea {
  height: 120px;
}
